<article class="post">
    <div class="title">
        <a href="/post/{{id}}">{{title}}</a>Post by {{user.username}} on {{format_date created_at}} {{comment.length}}
    </div>
    <div class="content">
        <p>{{post_text}}</p>
    </div>
    {{#if loggedIn}}

    <div>
        <a href="/dashboard/update-post/{{id}}">Update: {{title}}</a>
        <p><button class="" type="submit">Delete Post</button></p>
    </div>
    {{/if}}
</article>

{{#if loggedIn}}
<script src="/js/updatePost.js"></script>
<script src="/js/delete.js"></script>
<script src="/js/logout.js"></script>
