<article class="post">
    <div class="title">
        <span><a href="/post/{{id}}">{{title}}</a></span><span>Post by {{user.username}} on {{format_date created_at}}</span>
        <span>{{comment.length}}</span>
    </div>
    <div class="content">
        <p>{{post_text}}</p>
    </div>
</article>