

<div>
        <h2>{{post.title}}</h2>
        <p id="author">Post By {{post.user.username}} on {{post.createdAt}}</p>

        <p>{{post.post_text}}</p>
    
    <div>
        <h3>Comments</h3>
        {{#each post.comments}}
        <p>{{this.comment_text}}</p>
        <p id="commentor">{{this.user.username}} on {{this.createdAt}}</p>
        {{/each}}
    </div>

    <form id="new-comment-form">
        <textarea id="comment_text" name="text">
            {{text}}
        </textarea>
        <button type="submit" value="Submit">Submit</button>
    </form>
</div>







{{!-- {{> post-info post}}

{{#if loggedIn}}
<form class="comment-form">
    <div>
        <textarea name="comment_text"></textarea>
    </div>
    <div>
        <button type="submit">Publish Comment</button>
    </div>
</form>
{{/if}}

{{> comment post.comment}}

{{#if loggedIn}}
<script src="/js/post.js"></script>
{{/if}} --}}
