<article>
    <a href="/createPost">Back to createPost</a>
    <h3>
        Edit my Post
    </h3>
    <form class="update-post-form" action="/js/updatePost.js">
        <div>
            <input name="post-title" type="text" value="{{post.title}}"/>
        </div>
        <div>
            <textarea name="post_text">{{post.post_text}}</textarea>
        </div>
        <div>
            You posted on {{format_date post.created_at}}
            <a href="/post/{{post.id}}">{{post.comments.length}} {{format_plural "comment" post.comment.length}}</a>
        </div>
        <div>
            <button type="submit">Save</button>
            <button type="button" class="delete-post-btn">Delete</button>
        </div>
    </form>
</article>

<form class="comment-form">
    <div>
        <textarea name="comment-body"></textarea>
    </div>
</form>

{{> comment post.comment}}

<script src="/js/updatePost.js"></script>
<script src="/js/delete.js"></script>
<script src="/js/comment.js"></script>